---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UrlConverterComponent from "../../features/url-converter/UrlConverter.tsx"
---

<BaseLayout 
  title="URL Encoder & Decoder | Free Developer Tool"
  description="Easily encode and decode URL strings and query parameters. Secure, fast, offline-first developer tool running completely in your browser."
>
  <h2 class="mb-6 text-2xl font-semibold">
    URL Encoder & Decoder
  </h2>

  <UrlConverterComponent client:load />
</BaseLayout>