---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UuidGenerator from "../../features/uuid-generator/UuidGenerator.tsx"
---

<BaseLayout 
  title="UUID / GUID Generator | Fast Bulk UUID v4 Creator"
  description="Generate random UUIDs (v4) instantly. Free, secure, bulk generation support. A fully offline developer tool for universally unique identifiers."
>
  <h2 class="mb-6 text-2xl font-semibold">
    UUID Generator
  </h2>

  <UuidGenerator client:load />
</BaseLayout>